<div class="errorClass">
  <div>
    <span class="textColorWhite sizeClass">OOPS</span> &nbsp;&emsp; <i class="fa-solid fa-circle-exclamation textColorWhite sizeClass"></i>
    <h1 class="textColorRed sizeClass">only recruiter is allowed to access this page, login as recruiter to continue</h1>
  </div>
</div>