<div class="loginForm">
    <form class="formStyle" action="/loginRecruiter" method="post">
        <div class="input-group m-3 w-100">
        <span class="loginFormColor input-group-text" id="basic-addon1">Email</span>
        <input type="email" required class="form-control" name="recruiteremail" placeholder="enter your email" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group m-3 w-100">
        <span class="loginFormColor input-group-text" id="basic-addon1">Password</span>
        <input type="password" required class="form-control" name="recruiterpassword" placeholder="enter your password" aria-label="Username" aria-describedby="basic-addon1">
        </div>
    <button type="submit" class="btn btn-success m-3">Login</button>
    </form>
</div>